template element TextArea(MyTemplates/Texti)
{
    font_name Blue
		metrics_mode pixels
		char_height 30
		colour 1.0 .5 1.0    
}

Pause
{
   container Panel(pause) 
    {
	metrics_mode pixels
        left -320
        top 250
        width 670
        height 460
        vert_align top
        horz_align center
        material P

	element TextArea(pausemsg) : MyTemplates/Texti 
		    {
				  top -40
				  left 80
				  vert_align center
				  
		    }
    }

}
