Logo
{
    
	  
    container Panel(intrologo) 
    {
	      metrics_mode pixels
        left -210
        top 10
        width 430
        height 360
        vert_align top
        horz_align center
        material introLogo
    }	  

}
 
